.banner {
    background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/background.jpeg);
    padding: 150px 0px;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.banner h1 {
    font-size: 50px;
}

.banner p {
    font-weight: lighter;
    opacity: 0.8;
    margin-bottom: 40px;
}